<!DOCTYPE html>

<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui" />
    <meta name="author" content="Ahmet Güneş" />
    <link rel="shortcut icon" href="~/Areas/Admin/assets/images/favicon.png" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/assets/css/dashboard.css" rel="stylesheet" />
    <link href="~/Areas/Admin/assets/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">ECommerce</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <input class="form-control form-control-dark w-100" type="text" placeholder="Aramak için bir şeyler yazın." aria-label="Ara">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="#">Çıkış Yap</a>
            </li>
        </ul>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="sidebar-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="/Admin/User">
                                <i class="fa fa-users"></i>
                                Kullanıcılar
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Admin/Category">
                                <i class="fa fa-sitemap"></i>
                                Kategoriler
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Admin/Brand">
                                <i class="fa fa-shield"></i>
                                Markalar
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Admin/Order">
                                <i class="fa fa-file"></i>
                                Siparişler
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Admin/Product">
                                <i class="fa fa-shopping-cart"></i>
                                Ürünler
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Admin/Customer">
                                <i class="fa fa-users"></i>
                                Müşteriler
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                @RenderBody()
                @*<footer class="text-center mt-5">
                        Copyright &copy; 2020 - Ahmet Güneş
                    </footer>*@
            </main>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @* <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@
    <script src="~/Scripts/custom.js"></script>
</body>
</html>
